parameters:
    level: 0
    paths:
        - includes
        - businessapp.php
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    treatPhpDocTypesAsCertain: false
